*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(
        90deg,
        rgba(118, 113, 191, 1) 0%,
        rgba(21, 21, 92, 1) 50%,
        rgba(118, 113, 191, 1) 100%
    );
}

.container {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.cane {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 170px;
    width: 500px;
    height: 500px;
    z-index: 2;
    transition: 0.7s;
    --left: 230px;
    display: flex;
}

.cane .pack{
    position: absolute;
    background: var(--bg) var(--left), url(images/mockup.png);
    background-size: auto 100%;
    width: 280px;
    aspect-ratio: 2/4;
    background-blend-mode: multiply;
    mask-image: url(images/mockup.png);
    mask-size: auto 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.7s;
}

.container .cane:hover {
    --left: -1000px;
    transform: translateX(-50%) translateY(-20%);
}

.container .cane .pack:nth-child(2) {
    opacity: 0;
}


.container .cane:hover .pack:nth-child(2) {
    opacity: 1;
}